.form-field.term-parent-wrap,
.form-field.term-description-wrap   {display: none;}

.column-location-type{ width:100px; text-align:center; }
.column-posts{ width:80px!important; text-align:center; }
.column-country-flag{ width:80px; text-align:center; }
img.country-flag { width: 40px; height: auto; border-radius:4px; }

#loader {
    border: 5px solid #d7d2d2;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#edit-slug-box {
    margin-bottom: 5px;
}

#lead_meta_box_text {
	padding: 3px 8px;
	font-size: 1.3em;
	line-height: 100%;
	height: 60px;
	width: 100%;
	outline: 0;
	margin: 0 0 3px;
	background-color: #fff;
}

#wp-admin-bar-comments {
    display: none!important;
}
