/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800;900&display=swap');

/* Variables */

.ws-bar-top {
    top: 32px!important;
    position: fixed!important;
}

@media screen and (max-width: 782px) {
    .ws-bar-top {
        top: 46px!important;
        position: fixed!important;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed!important;
    }
}

#wpadminbar #wp-admin-bar-guide > .ab-item:before {
    content: '\f464';
    top: 2px;
}

.h-100 {
    height: 100%!important;
}

/* Typography */

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
}
body, input {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 960px) { 
    body, input {
        font-size: 1.1rem;
        line-height: 1.4;
    }
}

h1, h2, h3, h4, h5, h6, p, dl, img, figure {
    color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2d2d2d;
    text-decoration: none;
}
 
h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
 
h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}
 
h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}
 
h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}
 
h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}
 
h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

a { 
    text-decoration: none;
}

p { 
    margin: 2rem 0; 
}

strong, time, b { 
    font-weight: bold; 
}

em, dfn, i { 
    font-style: italic; 
}

sub { 
    font-size: 60%; 
    vertical-align: bottom; 
}

small { 
    font-size: 80%;
}

blockquote {
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding: 30px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    font-family: Georgia, serif;
}

blockquote::before {
    content: '\00ab';
    position: absolute;
    top: 5px;
    left: 0px;
    font-family: 'Georgia', serif;
    font-size: 50px;
    font-weight: 700;
    color: #f79112;
}

blockquote p {
    font-family: Georgia;
    font-style: italic;
    margin: 0 0 0 30px;
}

cite {
    font-family: 'Georgia', serif;
    font-weight: 700;
    font-style: italic;
}

kbd, code, samp, pre, var { 
    font-family: monospace; 
    font-weight: 700; 
}

code, pre {
    background: #f5f5f5;
    padding: 0.5rem 1rem;
}

code pre , pre code { 
    padding: 0; 
}

hr { 
    display: block;
    height: 40px;
    position: relative;
    margin: 2rem auto;
    background: url('../img/furs.svg') no-repeat top center #fff;
    background-size: contain;
    border: 0;
}

hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    height: 1px;
    background: #e0e0e0;
}

hr:before {
    left: 0;
    right: 50%;
    margin-right: 50px;
}

hr:after {
    right: 0;
    left: 50%;
    margin-left: 50px;
}

img {
    display: block;
    height: auto; 
    max-width: 100%; 
    margin: 0;
    padding: 0;
    font-size: 0px;
    border-radius: 3px;
}

figure {
    display: inline-block;
    width: auto;
    padding: 1rem;
}

figure img { 
    margin: 0; 
}

figure figcaption {
    font-size: 80%;
    margin-top: 0.5rem;
}

dl dd { 
    padding-left: 2rem;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table tr {
    padding: 5px;
    border: 1px solid #ddd;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    
    table thead {
        display: none;
    }
    
    table tr {
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    table td {
        display: block;
        font-size: 13px;
        text-align: right;
        border-bottom: 1px dotted #ccc;
    }
    
    table td:last-child {
        border-bottom: 0;
    }
    
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        text-transform: uppercase;
    }
}

input { 
    appearance: none;
    display: block;
    margin: 0.5rem 0;
    padding: 0.8rem;
    border: 1px solid #2d2d2d;
}

/* Loader */

#loader {
    width: 25px;
    height: 25px;
    border: 5px solid #d7d2d2;
    border-top: 5px solid #555;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Fade */

.fade {
  transition: opacity 0.10s linear; 
}
  @media (prefers-reduced-motion: reduce) {
    .fade {
      transition: none; 
      } 
}
  .fade:not(.show) {
    opacity: 0; 
}

.overflow-hidden {
    overflow: hidden;
}

.resize-animation-stopper * {
    animation: none!important;
    transition: none!important;
}

/* Overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(11, 10, 12, .35);
	opacity: 0;
    transition: opacity .3s ease;
    z-index: -1;
	
}
.active.overlay {
    opacity: 1;
    z-index: 999;
}

/* Scroll to top */

.scroll-top {     
    position: fixed;
    bottom: 20px;
    right: 2%;
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 20px 20px 0 rgba(94,101,113,.1);
    transition: all .3s ease;
    cursor: pointer;
    z-index: 998;
}

.scroll-top:hover {
    background: linear-gradient(0deg, #0072ce 0%, #0052c1 100%); 
    box-shadow: 0 20px 20px 0 rgba(94,101,113,0.1);
    transition: all .3s ease;
}

.scroll-top:hover svg {
    fill: #fff;
}

/** HEADER **/

/* Desktop Menu */

.full-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
}

.full-logo img {
    width: 250px;
    height: 200px;
}

@media (max-width:1280px) {   
    .full-logo {
        display: none;
    } 
    /*
    .full-logo img {
        width: 220px;
        height: 180px;
    }
    */
}

.full-logo-menu {
    display: none;
}
    
@media (max-width:1280px) {    
    .full-logo-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        border-bottom: 1px solid #f3f3f3;
    }
    
    .full-logo-menu img {
        width: 220px;
        height: 180px;
    }
    
}

.header__wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background: #ed5b0c;
	background: linear-gradient(0deg, #ed5b0c 0%, #f89213 100%);
    z-index: 1000;
}

.header__menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    max-width: 1110px;
    margin: auto;
    line-height: 70px;
}

.header__nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    flex: 1;
    padding: 0 10px;
}

.header__logo-front {
	visibility: hidden;
	max-width: 0;
	opacity: 0;
	transition: all 500ms ease-in-out;
}

.js__header__logo-front.header__logo-front {
	flex: 2 2 10%;
	max-width: inherit;
	opacity: 1;
	visibility: visible;
    transition: all 500ms ease-in-out;
}

.header__logo img {
    min-height: 35px;
    margin-left: -10px;
}

.header__search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: auto;
	padding: 20px;
}

.header__search svg {
    width: 18px;
    height: 18px;  
}

.header__search span {
    display: none;
}

.header__search:hover {
	background: #0072ce;
	background: linear-gradient(0deg, #0072ce 0%, #0052c1 100%);
    cursor: pointer;
}

.header-nav__chveron-down svg {
    width: 15px;
    margin-left: 10px;
    fill: #fff;
}

.header__nav {
    display: flex;
    justify-content: center;
    height: 100%;
}

.header-nav__list {
    display: flex;
}

.header-nav__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 20px;
    list-style: none;
} 

.header-nav__item:hover {
    background: #0072ce;
    background: linear-gradient(0deg, #0072ce 0%, #0052c1 100%);
    cursor: pointer;
}

.header-nav__item:hover .header-nav__chveron-down svg {
    transform: rotate(180deg);
}

.header-nav__item .header-nav__sub-menu .header-nav__item {
    display: block;
}

.header-nav__item:hover .header-nav__sub-menu {
    visibility: visible;
	opacity: 1;
}

.header-nav__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 16px;
    line-height: 1;
	color: #fff;
    text-decoration: none;
}

.header-nav__sub-menu {
    display: flex;
    top: 70px;
	left: -1px;
	position: absolute;
	background: #fff;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: 0.707px 0.707px 7px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    line-height: 1.2;
    transition: all 300ms ease-in-out;
}

.header-nav__item--location .header-nav__sub-menu {
    background-image: url('../img/world.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.header-nav__sub-menu .header-nav__link {
    font-family: 'Nunito', sans-serif;
	font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
	color: #000;
    text-decoration: none;
}

@media (max-width: 1100px)  {
    .header-nav__link {
        font-size: 13px;
    }
}

.header-nav__sub-menu .header-nav__item:hover {
    background: #fff;
}

.header-nav__item--guide .header-nav__sub-menu {
    flex-direction: column;
}

.header-nav__item--location .header-nav__sub-menu {
    flex-direction: column;
    width: 700px;
    max-height: 80vh;
    overflow-y: scroll;
}

.header-nav__item--guide .header-nav__sub-menu {
    overflow-y: scroll;
    max-height: 80vh;
}

/* Firefox Scrollbar Fix */
.header-nav__item--location .header-nav__sub-menu,
.header-nav__item--guide .header-nav__sub-menu {
    scrollbar-width: thin;
}

/* Chrome, Edge, and Safari Scrollbar Fix */
.header-nav__item--location .header-nav__sub-menu::-webkit-scrollbar,
.header-nav__item--guide .header-nav__sub-menu::-webkit-scrollbar {
    width: 10px;
}

.header-nav__item--location .header-nav__sub-menu::-webkit-scrollbar-track,
.header-nav__item--guide .header-nav__sub-menu::-webkit-scrollbar-track {
    background: #fff;
}

.header-nav__item--location .header-nav__sub-menu::-webkit-scrollbar-thumb,
.header-nav__item--guide .header-nav__sub-menu::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
    border: 2px solid #fff;
}

.header-nav__item--location .header-nav__sub-menu .header-nav__item:hover {
    background: transparent;
}

.header-nav__item--location .header-nav__sub-menu .header-nav__item {
    min-width: 230px;
    padding: 0;
}

.header-nav__item--location .header-nav__sub-menu .header-nav__item {
    margin: 10px 10px 20px 20px;
}

.header-nav__item--location .header-nav__sub-menu .header-nav__item:last-of-type {
    border-right: none;
}

.header-nav__item--location .header-nav__sub-menu .header-nav__link {
    display: inline-flex;
    column-span: all;
    width: 100%;
    height: 50px;
    font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 20px;
    line-height: 2;
    text-decoration: none;
}

.header-nav__item--location .header-nav__sub-menu .header-nav__link:nth-last-child(n+1), 
.header-nav__item--location .header-nav__sub-menu .header-nav__link:nth-last-child(n+1) ~ * {
    column-span: none;
}

.header-nav__locations .header-nav__link { 
    list-style: none;
    transition: all 300ms ease-in-out;
}

.header-nav__locations .header-nav__link:hover {
    border-radius: 5px;
    background: #0072ce36;
}

.header-nav__locations .header-nav__link a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 16px;
    line-height: 1.2;
	color: #000;
    text-decoration: none;
}

.header-nav__locations .header-nav__link img {
    margin: 0 10px;
	border-radius: 3px;
	border: 1px solid #f3f3f3;
}

.header-nav__locations {
    column-count: 3;
    column-gap: 0.625em;
    column-fill: balance;
}

.show.header__nav-mobile {
    transform: translate3d(0px, 0px, 0px);
    left: 0;
}

.header__nav-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i#header-toggle {
    display:none;
}

.close-icon {
    position: absolute;
    right: 15px;
    top: 15px;
}

.close-icon,
.toggle-icon {
    display: none;
}

.header-nav__item--guide .header-nav__sub-menu {
	flex-direction: column;
	width: 210px;
}

.header-nav__item--guide .header-nav__sub-menu .header-nav__guide {
    display: flex;
	align-items: center;
    padding: 15px;
}

.header-nav__item--guide .header-nav__sub-menu a:hover .header-nav__guide {
	background: #0072ce36;
}

.header-nav__item--guide .header-nav__sub-menu a {
	width: 100%;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	color: #000;
	text-decoration: none;
}

.header-nav__item--guide .header-nav__sub-menu .header-nav__guide img {
	margin: 0 10px;
	border-radius: 3px;
	border: 1px solid #f3f3f3;
}

/* Mobile Menu */

@media screen and (max-width: 1280px) {  
    /* Front logo mobile do not change */  
    .header__logo-front, .js__header__logo-front.header__logo-front {
        visibility: visible;
        opacity: 1;
        transition: none;
        max-width: fit-content;
        max-width: -moz-fit-content;
    }

    .close-icon,
    .toggle-icon {
        display: block;
        cursor: pointer;
    }

    .header-nav__locations .header-nav__link a {
        padding: 0;
    }

    .header-nav__locations .header-nav__link:hover a {
        color: #fff;
    }
    
    .header-nav__item--location .header-nav__sub-menu .header-nav__link:hover {
        border-radius: 0;
    }
    
    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .header__logo {
        padding: 0 20px;
       
    }
    
    .header__search {
        height: auto;
    }
    
    .header__search span {
        display: block;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1;
        color: #000;
    }
        
    .header__search svg {
        fill: #000;
        margin-right: 10px;
    }
    
    .header__search:hover {
        background: #ed5b0c;
        background: linear-gradient(0deg, #ed5b0c 0%, #f89213 100%);
    }
    
    .header__search:hover span {
        color: #fff;
    }
    
    .header__search:hover svg {
        fill: #fff;
    }

    .header__menu-wrapper {
        position: sticky;
        position: -webkit-sticky;
        justify-content: center;
    }
    
    .header__nav-mobile {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 300px;
        height: 100vh;
        min-height: fill-available;
        overflow-y: auto;
        background: #fff;
        border: 1px solid #f3f3f3;
        box-shadow: 0 2px 20px 0 rgba(80, 78, 75, 0.05);
        transform: translate3d(-100%, 0px, 0px);
        transition: transform .3s ease,-webkit-transform .3s ease;
    }
    
    .header__nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
    }
    
    .header-nav__list {
        display: block;
        width: 100%;
    }
    
    .header-nav__item {
        flex-wrap: wrap;
        padding: 0px;
        line-height: 1;
    }
    
    .header-nav__item:hover {
        background: none;
    }
    
    .header-nav__item--location .header-nav__sub-menu .header-nav__link {
        background: none;
    }
    
    .header-nav__link {
        color: #000;
        font-weight: 700;
        font-size: 18px;
        padding: 20px;
        display: block;
    }
    
    .header-nav__link:hover,
    .header-nav__item--location .header-nav__sub-menu .header-nav__link:hover, 
    .header-nav__item--guide .header-nav__sub-menu a:hover .header-nav__guide { 
        background: #ed5b0c;
        background: linear-gradient(0deg, #ed5b0c 0%, #f89213 100%);
        color: #fff;
    }
    
    .header-nav__item--guide .header-nav__sub-menu .header-nav__guide:hover a {
         color: white;
    }
    
    .header-nav__sub-menu {
        display: block;
        position: initial;
    }
    
    .header-nav__locations {
        column-count: 1;
    }
    
    .header-nav__item--location .header-nav__sub-menu,
    .header-nav__item--guide .header-nav__sub-menu {
        display: none;
        width: auto;
        visibility: hidden;
        opacity: 0;
        background: transparent;
        transition: none;
        border: none;
        box-shadow: none;
    }
    
    .header-nav__item:hover .header-nav__sub-menu {
        visibility: hidden;
        opacity: 0;
    }
    
    .header-nav__item.header-nav__item--location,
    .header-nav__item.header-nav__item--guide {
        align-items: stretch;
    }
    
    .header-nav__item--location .active.header-nav__sub-menu,
    .header-nav__item--guide .active.header-nav__sub-menu { 
        display: flex;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    
    .header-nav__item--guide .header-nav__sub-menu {
        width: 100%;
    }
    
    .header-nav__item--guide .header-nav__sub-menu .header-nav__guide {
        padding: 20px;
    }
    
    .header-nav__item--guide .header-nav__sub-menu a .header-nav__guide:last-child:hover {
        border-radius: 0px;
    }
    
    .header-nav__item--location .header-nav__sub-menu .header-nav__link {
        height: auto;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1;
    }
    
    .header-nav__item--location .header-nav__sub-menu .header-nav__item {
        margin: 0;
    }
    
    .header-nav__item--guide.header-nav__item  .header-nav__chveron-down-wrapper,
    .header-nav__item--location.header-nav__item  .header-nav__chveron-down-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .header-nav__item:hover .header-nav__chveron-down svg {
        transform: none;
    }
    
    .header-nav__item--guide.header-nav__item .header-nav__chveron-down svg,
    .header-nav__item--location.header-nav__item .header-nav__chveron-down svg {
        width: 15px;
        margin: 0;
        fill: #888;
    }

    .header-nav__item--guide.header-nav__item .header-nav__chveron-down,
    .header-nav__item--location.header-nav__item .header-nav__chveron-down {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: #fff;
        border: 1px solid #f3f3f3;
        border-radius: 50%;
        transition: all 0.4s ease;
    }

    .header-nav__item--guide.header-nav__item:hover .header-nav__chveron-down-wrapper,
    .header-nav__item--location.header-nav__item:hover .header-nav__chveron-down-wrapper { 
        background: #eaeaea;
    }

    .header-nav__item--guide.header-nav__item .header-nav__link,
    .header-nav__item--location.header-nav__item .header-nav__link {
        width: 80%;
    }

    .header-nav__item--guide.header-nav__item .header-nav__sub-menu .header-nav__guide,
    .header-nav__item--location.header-nav__item .header-nav__sub-menu .header-nav__link {
        width: 100%;
    }

    .header-nav__item--guide.header-nav__item .active.header-nav__link,
    .header-nav__item--location.header-nav__item .active.header-nav__link {
        color: #fff;
        background: #ed5b0c;
        background: linear-gradient(0deg, #ed5b0c 0%, #f89213 100%);
    }
    
    .active.header-nav__chveron-down-wrapper {
        background: #eaeaea;
    }
    
    .active.header-nav__chveron-down-wrapper .header-nav__chveron-down {
        transform: rotate(180deg);
    }
}

/* Hide menu on scroll */

#site-header {
	position: fixed;
	top: 0;
	width: 100%;
	transition: all .3s ease;
}

#site-header.hide-v {
	top: -80px;
}

/* END HEADER */

/* Content */

.post-content,
.page-content,
.page-front {
	flex: 1 0 auto;
}

.post-content,
.page-content {
    margin-top: 70px;
}

.page-front {
    margin-top: 0px;
}

.page-content,
.page-front {
    background: #fff;
}

.logo-offset {
    position: sticky!important;
    position: -webkit-sticky;
}

@media screen and (min-width:0px) and (max-width:574px) {
    .post-content {
        background: none;
    }
    .container-post__wrapper, .container-page__wrapper {
        margin-top: 15px!important;
    }
}

/** FOOTER **/

.footer-wrapper {
    background: #323232;
}

.footer-logo__text {
    padding: 10px 0px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 9.9px;
    text-transform: uppercase;
    text-align: center;
	color: #fff;
}
.footer-logo__wrapper,
.footer-nav__wrapper,
.footer-social__wrapper {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.footer-nav__list-item a {
    color: #ccc;
    text-decoration: none;
}

.footer-nav__list-item a:hover {
    color: #fff;
}

.footer-nav__header,
.footer-social__header {
    padding: 10px 0px 20px 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 25px;
    line-height: 1;
	text-transform: uppercase;
	color: #fff;
}

.footer-nav__list {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #ccc;
}

.footer-soical__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-soical__item_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: #ed5b0c;
    border-radius: 50%;
}

.footer-soical__item_wrapper:hover {
    background: #0072ce;
}

.footer-basement__wrapper {
    border-top: 1px solid #4a4a4a;
    padding: 30px 0px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 9.9px;
    text-transform: uppercase;
    text-align: center;
	color: #cacaca;
}

.footer-basement__wrapper strong {
    margin-right: 3px;
    font-weight: 900;
    color: #fff;
}

.wp-post-image {
    box-shadow: 0 20px 20px 0 rgba(94,101,113,.1);
}

/* Guide */

.guide-header__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
	text-align: center;
	background-position: center!important;
	background-size: cover!important;
    background-repeat: no-repeat!important;
}

.guide-header__icon_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 20px;
}

.guide-header__icon_wrapper img {
    margin: 0;
}

.guide-header__icon_text {
    padding: 5px 7px;
    font-family: 'Nunito', sans-serif;
	font-weight: 900;
	font-size: 12px;
	line-height: 1.5;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.guide-header__inner h1 {
    width: 100%;
    padding: 15px;
    margin: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 48px;
	text-align: center;
	line-height: 1;
    color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Post */

/* Post Header */

.post-header__container {
    padding: 0px 0px 50px 0px;
    background: #fff; 
}

.post-header__wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.post-header__wrapper h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 38px;
    text-align: center; 
    margin: 0 10px;
    padding: 30px;
}

/* Location breadcrumbs */

.breadcrumbs__container {
    padding: 40px;
    background: #fff; 
}

.breadcrumbs__container-blog {
    padding: 40px 0px 15px 0px;
    background: #fff; 
}

.breadcrumbs__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbs__wrapper img {
    width: 30px;
    height: 20px;
    margin: -1px 10px 0px 10px;
    vertical-align: middle;
    border: 1px solid #f3f3f3;
}

.breadcrumbs__item,
.breadcrumbs__item a {
    font-family: 'Nunito', sans-serif;
	font-weight: 800;
	font-size: 11px;
    line-height: 1;
	color: #4d5566;
    text-decoration: none;
    text-transform: uppercase;
}
.breadcrumbs__item span {
    padding: 0 5px;
}

/* Post Infobox */

.post-info__container {
    padding: 0px 0px 50px 0px;
    background: #fff;
}

.post-info__container-guide {
    padding: 10px 20px 30px 20px;
}

.post-info__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 14px;
    line-height: 1;
	color: #4d5566;
    text-decoration: none;
}

.post-info__column {
    display: flex;
    flex-direction: column;
}

.post-info__column-head,
.post-info__column-value {
    padding: 3px;
}

.post-info__column-head {
    font-weight: 300;
}

.post-info__date,
.post-info__edit,
.post-info__user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.post-info__icon {
    margin: 0 10px;
}

img.post-info__icon {
    width: 48px;
    height: 48px;
}


/* Photo Source */

.photo-source__container {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.photo-source__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 14px;
    line-height: 1;
	color: #4d5566;
    text-decoration: none;
}

.photo-source__row {
    display: flex;
    flex-direction: row;
}

.photo-source__row-head,
.photo-source__row-value {
    padding: 3px;
    
}

.photo-source__row-value a {
    text-decoration: none;
    color: #4d5566;
}

.photo-source__row-value a:hover {
    color: #f46d28;
}

.photo-source__row-head {
    margin: auto;
    font-weight: 300;
}

.photo-source__source {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.photo-source__icon {
    margin: 0px 5px 0px 0px!important;
}

img.photo-source__icon {
    width: 38px;
    height: 38px;
}

/* Related Posts */

.related-posts__container {
    margin-bottom: 20px;
    padding: 0px;
    background: #fff;
}

.related-posts__wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 14px;
    line-height: 1;
	color: #4d5566;
    text-decoration: none;
}

.related-posts__list-wrapper ul {
    padding: 10px 0;
    margin: 0!important;
    list-style: none;
}

.related-posts__list-wrapper ul li {
    padding: 10px 0;
}

.related-posts__list-wrapper ul li:before {
    display: none!important;
}

.related-posts__list-wrapper ul li a {
    font-family: 'Nunito', sans-serif;
	font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #1b81f4;
    text-decoration: none;
}
.related-posts__list-wrapper ul li a:hover {
    color: #f46d28;
}

.related-posts__column {
    display: flex;
    flex-direction: column;
}

.related-posts__column-head {
    padding: 8px 0px;
    font-family: 'Raleway';
	font-size: 20px;
    font-weight: 800;
}

.related-posts__source {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.related-posts__heading {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px;
}

.related-posts__icon {
    margin: 0px 10px 0px 0px!important;
}

img.related-posts__icon {
    width: 28px;
    height: 28px;
}

/* Post tags */

.post-tags__container {
    margin-bottom: 20px;
}

.post-tags__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.post-tags__wrapper a {
    padding: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
    font-weight: 900;
	line-height: 1.5;
	text-transform: uppercase;
	color: #fff;
    background: linear-gradient(0deg, #ed5b0c 0%, #f89213 100%);
    border-radius: 5px;
    text-decoration: none;
}
.post-tags__wrapper a:hover {
    background: linear-gradient(0deg, #0072ce 0%, #0052c1 100%);
}

/* Social Buttons */

.social-buttons__container {
    margin-bottom: 20px;
}

/* Comments */

.comments__container {
    margin-top: 25px;
}

.comments__heading {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
	font-size: 20px;
    line-height: 1;
    color: #4d5566;
}

/* Guide Menu */

.guide-menu__wrapper {
	width: 100%;
	padding: 15px;
    border: 1px dashed #c4c4c4;
	background: #fafbfc;
	border-radius: 6px;
}
    
.guide-menu__list ol {
    display: block;
    list-style-type: none;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.ordered-list a {
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.3;
	color: #1b81f4;
	text-decoration: none;
    counter-reset: list-counter;
}

.ordered-list a:hover {
    color: #f46d28;
}

.ordered-sub-list {
    margin: 0;
    counter-reset: sublist-counter;
}

.ordered-list > li,
.ordered-sub-list > li {
    position: relative;
    margin-top: 7px;
}

.ordered-list > li {
    counter-increment: list-counter;
}

.ordered-sub-list > li {
    counter-increment: sublist-counter;
}

.ordered-list > li::before,
.ordered-sub-list > li::before {
    position: absolute;
    top: 10px;
    left: -54px;
    width: 40px;
    text-align: right;
    font-size: 14px;
    font-weight: 800;
    color: #323232;
    line-height: 1;
}

@media screen and (max-width:960px) {
    .ordered-list > li::before,
    .ordered-sub-list > li::before {
        top: 7px;
    }
}

.ordered-list > li::before {
    content: counter(list-counter) ".";
}

.ordered-sub-list > li::before {
    content: counter(list-counter) "." counter(sublist-counter);
}

/* Post Featured img */

.post-featured-img__wrapper {
    position: relative;
}

.post-featured-img__wrapper:before {
	background: #fff;
	content: "";
	display: block;
	position: absolute;
	bottom: 50%;
	left: 0;
	right: 0;
	top: 0;
}

.post-featured-img__wrapper img {
    z-index: 1;
}

.post-featured-img__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Post Container */

.container-post__wrapper,
.container-page__wrapper {
    margin-top: 30px;
}

.container-post,
.container-page {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #eeeeeef2;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 25px rgba(159, 159, 159, 0.1);
}

.container-guide {
    margin-top: -50px;
}

.container-post__inner {
    padding: 30px;
}

@media (min-width: 576px) {
    .container-post {
        max-width: 540px;
    }
    
.container-page {
        max-width: 540px;  
    }
}

@media (min-width: 768px) {
    .container-post {
        max-width: 900px;  
    }
    .container-page {
        max-width: 900px;  
    }
}

@media (min-width: 992px) {
    .container-post {
        max-width: 900px;
    }
    .container-page {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    .container-post {
        max-width: 900px;
    }

    .container-page {
        max-width: 1100px;
    }
}

/* Post typography */

.post-header__wrapper a {
    text-decoration: none;
}

.container-post__inner:first p { /* Lead wrap */
    margin: 1rem 0;
}

.container-post__inner p a {
    color: #1b81f4;
    text-decoration: none;
    font-weight: 600;
}
    
.container-post__inner p a:hover {
    color: #f46d28;
}

.container-post__inner img {
    margin: 0 auto;
}

.container-post__inner ul, ol {
    margin: 2rem 0 2rem 20px;
}

.container-post__inner ul {
  list-style: none;
}

.container-post__inner ul li::before {
    content: '\2022';
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: #ed5b0c; 
    font-weight: 700;
}

.container-post__inner h2, h3, h4, h5, h6 {
    font-weight: 800;
}

.container-post__inner .wp-caption {
    width: 100%!important;
}
.container-post__inner .wp-caption-text {
    margin: 15px 0px 30px 0px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #4d5566;
}

.post-header__wrapper h2 {
    text-align: center 
}

@media screen and (max-width:1200px) {
    .post-header__wrapper h2 {
        text-align: left;
    }
}
  
@media screen and (max-width:960px) {
    .post-info__container {
        padding: 0px 0px 20px 0px;
    }
    
    .post-info__column-head,
    .post-info__column-value {
        padding: 0 0 3px 3px;
    }
    
    img.post-info__icon {
        width: 30px;
        height: 30px;
    }
    
    .post-info__wrapper {
        font-size: 12px;
    }
    
    .post-info__date,
    .post-info__edit,
    .post-info__user {
        padding: 10px;
    }
    
    .post-header__wrapper h1 {
        padding: 0;
        font-size: 28px;
    }
    
    .post-header__wrapper h2 {
        margin: 10px 0;
    }
    
    .section-header h1 {
        font-size: 28px;
    }
    
    .post-info__icon {
        margin: 0;
    }
    
    .container-post__inner p {
        font-size: 16px;
    }
    
    .container-post__inner {
        padding: 10px;
    }
    
    .container-blog__inner {
        padding: 20px;
    }
    
    .post-header__container {
        padding: 0px 0px 30px 0px;
    }
}  

@media screen and (max-width:576px) {
    .post-info__wrapper {
        justify-content: space-around;
    }
    
    .container-post__inner {
        margin: 0 auto;
    }
    
    .post-info__date,
    .post-info__edit,
    .post-info__user {
        padding: 0px;
    }
}

/* Fix */

.header__logo-post {
	visibility: visible;
    max-width: fit-content;
	max-width: -moz-fit-content;
	opacity: 1;
	transition: all 500ms ease-in-out;
}

/* Search */

.button-do-search {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-flex;
    margin-top: 65px;
    margin-left: -55px;
	padding: 10px 20px;
    border: none;
	border-radius: 5px;
	background: #ed5b0c;
	background: linear-gradient(0deg, #ed5b0c 0%, #f89213 100%);
	cursor: pointer;
	transition: all 300ms ease-in-out;
	box-shadow: 0 0px 10px rgba(94, 94, 94, 0.37);
    outline: none;
}

.button-do-search:hover {
	background: #0072ce;
	background: linear-gradient(0deg, #0072ce 0%, #0052c1 100%);
    transition: all 300ms ease-in-out;
}

.button-do-search span {
    margin: 0px 5px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}
.button-do-search svg {
    width: 15px;
    height: 15px;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
	transition: all 0.5s ease-in-out;
	transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

#search.open-search {
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 1001;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    background: transparent;
    border: 0px;
    outline: none;
}

input:invalid {
    box-shadow: none;
    background-color: none; 
}

@media screen and (max-width:970px) {
    #search input[type="search"] {
        font-size: 35px;
    }
    .button-do-search {
        margin-top: 35px;
    }
}


/* IE10+ */
::-ms-clear {
  display: none;
}

/* Chrome */
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { 
  display: none; 
}

#search .close-search {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 10px 17px;
    color: #fff;
	opacity: 1;
    cursor: pointer;
}

.search-results__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
}

.search-results__text,
.search-results__count {
    margin: 10px;
}

.search-results__text span,
.search-results__count span {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.search-box__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search-box__input {
    height: 40px;
	margin-right: 20px;
    padding: 0px 10px 0px 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 13px;
	background: url("../icons/search-input.svg") no-repeat right center;
	background-position: 10px;
	background-color: #efeff3;
    background-size: 20px auto;
	border: 1px solid #e6e6e6;
	border-radius: 15px;
	box-shadow: 0 1px 10px 0 rgba(109, 102, 198, 0.14);
}

.search-box__input:focus, .search-box__input:active {
	outline: none;
	border: 1px solid #e0e0e0;
    background-color: #fff;
}

.search-box__submit {
	display: inline-flex;
    margin: 10px 0;
	padding: 10px 20px;
	background: #ed5b0c;
	background: linear-gradient(0deg, #ed5b0c 0%, #f89213 100%);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0px 10px rgba(94, 94, 94, 0.37);
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.search-box__submit span {
	margin: 0px 5px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

.search-box__submit:hover {
	background: #0072ce;
	background: linear-gradient(0deg, #0072ce 0%, #0052c1 100%);
	transition: all 300ms ease-in-out;
}

/* Section */

.section-wrapper {
    padding: 0px;
}

.bg-white.section-wrapper {
    background: #fff;
}

.bg-grey.section-wrapper {
    background: #f7f9fb;
}

.section-header,
.section-header-front {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 50px;
}

.section-header h1,
.section-header-front h2 {
    margin: 0px;
	font-weight: 900;
	font-size: 38px;
	font-family: 'Raleway', sans-serif;
    line-height: 1;
}

.section-header h2 {
    font-size: 28px;
}

.section-header img,
.section-header-front img {
    margin: 0 15px 0px 0px;
}

/* 404 */

.section-header-404 {
    display: flex;
    flex-direction: column;
}

.section-header-404 img {
    margin: 30px;
}

.section-header-404 h1 {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 70px;
}

.section-header-404 p {
    margin: 10px;
    line-height: 1.2;
    text-align: center;
}

.section-content a {
    text-decoration: none;
}

@media screen and (max-width:960px) {
    .section-header,
    .section-header-front {
        padding: 30px 10px;
    }
    .section-header h1,
    .section-header-front h2 {
        font-size: 25px;
    }
    
    .section-header h2 {
        font-size: 23px;
    }
}

@media screen and (max-width:410px) {
    .section-header,
    .section-header-front {
        padding: 30px 10px;
    }
    .section-header h1,
    .section-header-front h2 {
        font-size: 20px;
    }
    .section-header img,
    .section-header-front img {
        margin: 0 15px 0px 0px;
    }
}

/* Card Post */

.card-post__wrapper {
    width: 100%;
    transition: all 300ms ease-in-out;
}

.card-post__wrapper:hover {
    transform: scale(1.1); 
}

.card-post__wrapper-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0.707px 0.707px 7px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    z-index: 1;
}

.card-post__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 250px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    cursor: pointer;
}

.card-post__img::after {
	content: '';
	top: 0;
	right: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background: #eaeaea url('../img/furs-white.svg') no-repeat center center;
	border-radius: 10px 10px 0px 0px;
	background-size: 120px 100px;
    z-index: -1;
}

.card-post__title {
    width: 100%;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 1;
    color: #000;
    text-align: left;
}

@media screen and (max-width:1200px) {
    .card-post__wrapper:hover {
        transform: none;
    }
    
    .card-post__wrapper-inner {
        margin: 10px;
    }
    
    .card-post__title {
        font-size: 23px;
    }
}

.card-post__excerpt {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 0px 20px 20px 20px;
    color: #464646;
}

/* Card Template */

.card-wrapper-main {
    max-width: 430px;
    margin: auto;
}

.card-wrapper-page {
    width: 430px;
    margin: 10px 0;
}

.card-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0.707px 0.707px 7px 0px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out; 
}

.card-wrapper:hover {
    transform: scale(1.1); 
}

.card-wrapper:hover .card-image:before, 
.card-wrapper:hover .card-country-image:before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28));
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.card-image, 
.card-country-image,
.card-notes-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer; 
}

.card-country-image {
    flex-direction: column;
    min-height: auto;
    height: 280px;
}

.card-notes-image {
    flex-direction: column;
    justify-content: flex-end;
    min-height: auto;
    height: 280px;
}

.card-notes-title {
    width: 100%;
    padding: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
    color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	line-height: 1.2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.67));
    z-index: 1;
}

.card-recipe-title {
    width: 100%;
    padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	line-height: 1;
    color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.card-image:before, 
.card-country-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28));
    transition: opacity .3s ease-in-out;
    opacity: 1; 
}

.card-title, 
.card-country-title {
    width: 100%;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 38px;
    line-height: 1; 
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.card-country-title {
    width: inherit; 
    margin-bottom: 5px;
    padding: 10px;
    font-size: 25px;
}

.card-country-title-page {
    font-size: 34px;
}

.card-flag {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; 
}

.card-flag img {
    margin: 10px;
    border-radius: 5px; 
}

.card-country-flag {
    position: relative;
    z-index: 1; 
}

.card-country-flag img {
    margin: 5px;
    border-radius: 5px; 
}

.card-icon {
    margin: 5px auto; 
}

.card-excerpt {
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #464646; 
}

.card-category-wrapper {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center; 
}

.card-category {
    padding: 5px 7px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card-text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 250px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    cursor: pointer; 
}

.card-text-image:before {
    content: '';
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity 300ms ease-in-out;
    opacity: 1; 
}

.card-text-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: #000;
    width: 100%;
    text-align: left;
    z-index: 1;
    line-height: 1;
    padding: 20px; 
}

.card-text-excerpt {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 0px 20px 20px 20px;
    color: #464646;
}

@media screen and (max-width: 765px) {
    .card-wrapper {
        transform: none;
        transition: none;
        margin: 10px 0;
    }
    
    .card-wrapper:hover {
        transform: none;
        transition: none;
    }
}

.section-button {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 50px 0;
}

.button-show-all,
.button-show-cat {
	display: flex;
    align-items: center;
    justify-content: center;
	padding: 15px 20px;
	border-radius: 5px;
    line-height: 1;
	background: #ed5b0c;
	background: linear-gradient(0deg, #ed5b0c 0%, #f89213 100%);
	cursor: pointer;
	box-shadow: 0 0px 10px rgba(94, 94, 94, 0.37);
}

.button-show-all:hover,
.button-show-cat:hover {
	background: #0072ce;
	background: linear-gradient(0deg, #0072ce 0%, #0052c1 100%);
}

.button-show-all span,
.button-show-cat span {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

.button-show-all img,
.button-show-cat img {
    display: inline-block;
	margin-left: 5px;
    border-radius: 0px;
}

.button-show-cat img {
    margin-right: 7px;
}

.loadmore img {
    margin: 0px 7px 0px 0px;
}

/* Swiper */

.swiper-button-next, .swiper-button-prev {
    visibility: hidden;
    opacity: 0;
    color: fff;
    background: #fff;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
    transition: all  300ms ease-in-out;
    border: 1px solid #e6e6e6; 
}

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev,
.countries-slde:hover .swiper-button-next,
.countries-slde:hover .swiper-button-prev {
    visibility: visible;
    opacity: 1;
    transition: all  300ms ease-in-out; 
}

@media screen and (max-width:1024px) { 
    .swiper-container .swiper-button-next,
    .swiper-container .swiper-button-prev,
    .countries-slde .swiper-button-next,
    .countries-slde .swiper-button-prev {
        visibility: visible!important;
        opacity: 0.8!important;
        transition: all  300ms ease-in-out; 
    }
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 18px !important;
    color: #848484; 
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 0px !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 0px !important;
}

.read-more p {
    margin-bottom: 0px;
}

.read-more p a {
    font-family: 'Nunito', sans-serif; 	
    font-weight: 700; 	
    font-size: 20px; 	
    line-height: 1; 	
    color: #1b81f4; 	
    text-decoration: none;
}

.read-more p a:hover {
    color: #f46d28;
}

@media screen and (max-width:800px) {
    .read-more p a {
        font-size: 17px;
    }
}

.container-post__inner img.alignleft,
.container-post__inner a img.alignleft,
.container-post__inner p a img.alignleft,
.container-post__inner p strong img.alignleft {
    margin-right: 20px;
    float: left!important;
}

.container-post__inner img.alignright,
.container-post__inner a img.alignright,
.container-post__inner p a img.alignright,
.container-post__inner p strong img.alignright {
    margin-left: 20px;
    float: right!important;
}

@media screen and (max-width:400px) {
    .container-post__inner img.alignleft,
    .container-post__inner a img.alignleft,
    .container-post__inner p a img.alignleft,
    .container-post__inner p strong img.alignleft {
        float: none!important;
        margin: 20px auto;
    }
    .container-post__inner img.alignright,
    .container-post__inner a img.alignright,
    .container-post__inner p a img.alignright,
    .container-post__inner p img.alignright{
        float: none!important;
        margin: 20px auto;
    }
}

/* Embed */

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

/* Front Page About */

.section-about {
    padding: 30px 0 40px 0;
    border-top: 1px solid #f3f5f7;
    background: #f7f9fb;

}

.section-about_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.section-about_img img { 
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 50%; 
    transition: all .3s ease-in-out;
}

.section-about_img img:hover { 
    transform: scale(1.1);
}

.section-about_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 25px;
}

.section-about_text h1 {
    margin-top: 0;
    font-family: 'Raleway', sans-serif; 
    font-weight: 900; 
    font-size: 28px;  
}

.section-about_text p {
    font-family: 'Nunito', sans-serif; 
    font-weight: 400; 
    font-size: 16px; 
    margin: 0;
}

.front-section {
    border-bottom: 1px solid #f9f9f9;
}
